<h1>Editing the dream:</h1>
<h3><%= @dream.title %></h3>

<form method="post" action="/dreams/<%= @dream.id %>">
    <input type="hidden" name="_method" value="patch">

    <div>
        
        <label for="dream_title_id">Dream title:</label>
        <input type="text" name="dream[title]" id="dream_title_id" value="<%= @dream.title %>">

        <label for="dream_date">Date:</label>
        <input type="date" name="dream[date]" id="dream_date" value="<%= @dream.date %>">
    </div>

    <br>

    <div>
        <label for="dreams_genre">Which genre did your dream resemble the most?</label>
        <select name="dream[genre]" id="dreams_genre">
            <option value="Fantasy/Magical" <%= 'selected' if @dream.genre == "Fantasy/Magical" %>>Fantasy/Magical</option>
            <option value="Horror" <%= 'selected' if @dream.genre == "Horror" %>>Horror</option>
            <option value="Humor" <%= 'selected' if @dream.genre == "Humor" %>>Humor</option>
            <option value="Realistic" <%= 'selected' if @dream.genre == "Realistic" %>>Realistic</option>
            <option value="Romance" <%= 'selected' if @dream.genre == "Romance" %>>Romance</option>
            <option value="Sad" <%= 'selected' if @dream.genre == "Sad" %>>Sad</option>
            <option value="Spiritual" <%= 'selected' if @dream.genre == "Spiritual" %>>Spiritual</option>
            <option value="Superhero" <%= 'selected' if @dream.genre == "Superhero" %>>Superhero</option>
            <option value="Suspense" <%= 'selected' if @dream.genre == "Suspense" %>>Suspense</option>
            <option value="Other" <%= 'selected' if @dream.genre == "Other" %>>Other</option>
        </select>
    </div>

    <br>

    <div>
        <label for="dream"><h3>Dream:</h3></label>
        <textarea name="dream[dream]" id="dream" rows="25" cols="80" placeholder="Describe your dream:" wrap="hard"><%= @dream.dream %></textarea>
    </div>

    <br>

    <%# <input type="submit" value="Update Dream Entry"> %>
    <button type="submit" class="btn_update">Update Dream Entry</button>
</form>