<h1><%= current_user.username %>'s dreams</h1>
<form action="/dreams/new">
    <%# <input type="submit" value="Edit" /> %>
    <button type="submit" class="btn btn_new_dream">New dream</button>
</form>

<% @dreams.each do |dream| %>

    <div>
        <h3><a href="/dreams/<%= dream.id %>"><%= dream.title %></a></h3>
        <br>
        <p><%= dream.date %></p>
        <p><%= dream.genre %></p>
    </div>

    <p>- - - - - - - - -</p>

<% end %>